# ---- Coletor ----
JETSTREAM_URL=wss://jetstream2.us-east.bsky.network/subscribe

# ---- Kafka ----
KAFKA_TOPIC=bluesky-events
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# ---- Postgres ----
POSTGRES_DB=bluesky
POSTGRES_USER=bluesky_user
POSTGRES_PASSWORD=senha
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ---- Grafana ----
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=senha